@font-face
{
	font-family : "Raleway";
	src         : url( "assets/fonts/Raleway-Regular.ttf" ) format ("truetype");
}


@font-face
{
	font-display: swap;
	font-family : "Raleway Bold";
	font-style  : normal;
	font-weight : bold;
	src         : url( assets\fonts\Raleway-Bold.ttf );
}



@font-face
{
	font-display: swap;
	font-family : "Raleway Extra Bold";
	font-style  : normal;
	font-weight : 900;
	src         : url( assets\fonts\Raleway-ExtraBold.ttf );
}


:root
{
	--card-container-padding: 2.5rem;
	--horz-padding          : 5.6vw;
	--search-height         : 3rem;
}

*, *::before, *::after
{
	box-sizing: inherit;
}


body
{
	box-sizing : border-box;
	font-family: "Raleway";
	margin     : 0;
}
.intro h1 {
	font-family: "Raleway";
}
	


a
{
	text-decoration: none;
}


  h1
, h2
{
	font-size  : 1.4em;
	margin     : 0;
	font-weight: bold;
}

